<template>
  <a-entity>
    <a-entity position="0 1.6 -1">
      <a-box  scale="1.7 .8 .001" v-bind:material="'color: black; opacity: .1'"></a-box>
      <a-entity position="-.75 -.1 .1" scale=".3 .3 .3" v-bind:bmfont-text="'text: '+page.description+'; align: center; color:white; opacity:'+pageOpacity"></a-entity>
    </a-entity>
    <a-collada-model v-bind:src="page.scene+'?'+Math.random()" @click="sceneTouched($event)"></a-collada-model>
    <a-sky v-bind:src="page.sky"></a-sky>
    <!--flagged items-->
    <a-box position="-1 0.5 1" rotation="0 45 0" width="1" height="1" depth="1"  color="#4CC3D9" v-if="hasFlag('mysterious-box')"></a-box>
  </a-entity>
</template>
<script>
  Vue.component('story-scene', {
    template: document.currentScript.parentNode.querySelector("template").innerHTML,
    props: ["page"],
    data: function(){
      return {
        pageOpacity: 1
      }
    },
    created: function(){
      this.onPageChange();
    },
    watch: {
       page: function(){
         this.onPageChange();
       }
    },
    methods: {
      onPageChange: function(flags){
        if(page.flags){
          //custom handle flags
          console.log(flags)
        }
        var _this = this;
        new TWEEN.Tween({opacity:0})
        .to({opacity:1}, 1000)
        .onUpdate(function() {
            _this.pageOpacity = this.opacity;
        })
        .start();
      },
      hasFlag: function(flag){
        return this.page.flags && this.page.flags.indexOf(flag)!=-1;
      },
      sceneTouched: function(e){
        var intersections = e.detail.cursorEl.components.cursor.intersections;
        var name = intersections[0].object.parent.colladaId;
        console.log("you clicked on "+name);
        for(var i = 0 ; i < this.page.actions.length; i++){
          if(this.page.actions[i].trigger == name){
            //this.dispatch("go_to_page",this.page.actions[i].page)
          }
        }
      }
    }
  })
</script>
